.form-container {
  margin: 100px auto;
  max-width: 525px;
  min-height: 350px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px 70px 50px 70px;
  }

  form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .field {
    margin-bottom: 1rem;

    label,
    input {
      width: 100%;
      display: block;
      color: #aaa;
    }

    label {
      color: white;
      margin-bottom: 8px;
    }
    input {
      border: none;
      padding: 15px 20px;
      border-radius: 25px;
    }
    input[type="submit"] {
      color: white;
      text-transform: uppercase;
      background: #1161ee;
      cursor: pointer;

      &:hover {
        background-color: rgb(8, 75, 189);
      }
    }
  }
}
