.nav-container {
  ul {
    margin: auto;
    padding: 0 2rem;
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    background-color: rgba(66, 183, 245, 1);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      list-style: none;
      margin: 0 1rem;
    }

    button {
      border: 0;
      background-color: transparent;
      color: #e3e4eb;
      font-size: 1rem;
      font: 600 16px/18px "Montserrat", sans-serif;
      cursor: pointer;
      outline: none;
    }
  }
}
