html {
  /** theme variables */

  --color-primary: #f8bbd0;
  --color-primary-light: #ffeeff;
  --color-primary-dark: #c48b9f;
  --color-text-primary: #3e2723;

  --color-secondary: #fce4ec;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #c9b2ba;
  --color-text-secondary: #5d4037;

  --color-background: #e1e2e1;

  /** mobile first **/
  --gutter: 8px;
  --font-size: 8px;
  --spacing: 16px;

  font-family: "Montserrat", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-size: var(--font-size);

  transition: all ease-in-out 0.2s;
}

@media only screen and (min-width: 600px) {
  html {
    --gutter: 16px;
    --font-size: 16px;
    --spacing: 32px;
  }
}

body {
  padding: 0 var(--spacing);
  box-sizing: border-box;
}
