body {
    width: 100%;
    margin: 0 auto;
    font-family: "Montserrat";
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  .number_generator_wrapper, .hexadecimalColors_generator_wrapper, .worldpopulation_wrapper  {
    text-align: center;
    margin: 0em 2em 1em;
  }

  .worldpopulation_wrapper h2 {
    margin-top: 0;
    padding-top: 2em;
  }
  .worldpopulation_wrapper ul{
    padding: 0 2em;
  }
  .worldpopulation_wrapper ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    height: 1.6em;
  }
  .worldpopulation_wrapper ul li >span:first-child {
    flex: 1;
    text-align: left;
  }
  .worldpopulation_wrapper ul li >span:nth-child(3) {
    flex: 1;
    text-align: right;
  }
  .worldpopulation_wrapper ul li > span.bar {
    display: flex;
    flex: 3;
    margin: 0.2em 0;
  }
  .worldpopulation_wrapper ul li > span.bar span {
    background-color: orange;
    border-radius: 2px;;
  }
  .squares_wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 2em;
    padding: 0;
  }

  .squares_wrapper li {
    list-style-type: none;
    flex-basis: 12.5%;
    height: 4em;
    text-align: center; 
    line-height: 4em;
  }

  .image_wrapper img {
    width: 10em;
    height: 10em;
    margin: 1em;
  }

.subscribe_wrapper {
    margin: 0;
    text-align: center;
    padding: 2em;
    background-color: lightcyan;
}

.subscribe_wrapper h2 {
  margin: 1em;
}

.subscribe_wrapper p {
  margin: 1em;
}
.subscribe_wrapper .inputs_wrapper {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subscribe_wrapper .inputs_wrapper input {
  margin: 1em;
  padding: 0.5em;
  height: 2em;
  border: 0;
  border-radius: 4px;
  outline: none;
}

.subscribe_wrapper .inputs_wrapper input::placeholder {
  color: grey
}

.subscribe_wrapper button {
  margin: 1em;
  padding: 0.5em;
  height: 2em;
  width: 30%;
  border: 0;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: coral;
  cursor: pointer;
}

.colors-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.colors-wrapper li {
  list-style: none;
  color: white;
  height: 2em;
  line-height: 2em;;
  text-align: center;
  margin: 0.1em 0;
}
.usercard_wrapper {
  padding: 2em;
}
.usercard_wrapper img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
}

.usercard_wrapper ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.usercard_wrapper ul li {
  max-width: 8em;
  margin: 1em 1em 1em 0;
  background: cyan;
  color: white;
  padding: 0.2em;
  border-radius: 4px;
}

.usercard_wrapper p {
  font-size: 0.8em;
  color: grey
}